// Переменные
$primary-color: #333;
$secondary-color: #f4f4f4;
$highlight-color: #f9f871;
$text-color: black;
$padding: 20px;
$transition-time: 0.3s;

// Миксин для центрирования элементов по flex
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Миксин для адаптивности (мобильные устройства)
@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// Миксин для добавления transition
@mixin transition($property, $duration: $transition-time, $ease: ease-in-out) {
  transition: $property $duration $ease;
}

// Базовые стили для страницы
.page-about {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
}

// Шапка страницы
.header {
  background-color: $primary-color;
  padding: $padding;
  color: white;

  &__title {
    margin: 0;
    @include flex-center;
  }

  &__menu {
    list-style: none;
    padding: 0;
    @include flex-center; // Применение миксина для центрирования элементов

    gap: 10px;
  }

  &__link {
    text-decoration: none;
    color: white;

    &:hover {
      color: blue;
      @include transition(color); // Применение миксина для анимации перехода цвета
    }
  }
}

// Основной контент
.about {
  padding: $padding;

  &__title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: $padding;
  }

  &__skills {
    &-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    &-list {
      list-style: none;
      padding: 0;

      &-item {
        padding: 5px 0;
      }
    }
  }

  &__image-figure {
    @include flex-center; // Применение миксина для центрирования изображения
    margin-top: $padding;
    flex-direction: column;

    &-image {
      max-width: 100%;
      height: auto;
    }

    &-caption {
      font-size: 0.9rem;
      color: gray;
    }
  }

  &__quote {
    font-style: italic;
    background-color: lighten($secondary-color, 20%);
    padding: $padding;
    margin: $padding 0;
    border-left: 5px solid $primary-color;
    @include responsive(600px) {
      font-size: 1.2rem; // Пример адаптивности с помощью миксина
    }
  }
}

// Футер
.footer {
  background-color: $primary-color;
  color: white;
  padding: $padding;
  @include flex-center;

  &__title {
    margin-bottom: 10px;
  }

  &__link {
    color: $highlight-color;
    text-decoration: none;

    &:hover {
        color: #0d0f72;
        @include transition(text-decoration); // Переход для подчеркивания
    }
  }
}