:root {
    --text-color: #4e0505;
    --padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.page {
    width: auto;
}
    
.header {
    text-align: center;
    background-color: #333;
    padding: var(--padding);
}

.header__title {
    color: #186139;
}

.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu-item {
    margin-right: 10px;
}

.header__link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.header__link::after {
    content: ' ←';
    color: #716565;
}

.header__link:hover {
    color: #ff0000;
}

ul {
    list-style-type: none;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-color);
    padding: 10px;
}

.content__title {
    padding: var(--padding);
}

.content__photo {
    padding: var(--padding);
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: var(--padding);
    position: relative;
    bottom: 0;
}

.footer__link {
    text-decoration: none;
    color: #186139;
}

.footer__contact::after {
    content: " 📞"; 
  }

.footer__link:hover {
    color: #0d0f72;
    text-decoration: underline;
}

.footer__link:focus {
    outline: 2xp solid blue;
}
